.cardProject {
    background-color: #4c2885;
    background: linear-gradient(gray, #25b09b);
    border-radius: 20px;
    display: flex;
    gap: 50px;
    padding: 30px;
    margin: 50px;
    min-height: 150px;
    box-shadow: 25px 25px 25px gray;
    height: 100%;
    max-width: 160vh;
}

.cardProject i {
    font-size: 3em;
    color: rgb(73, 72, 72);
    transition: 0.3s;
  }

  .cardProject i:hover {
    color: #25b09b;
  }

.cardProject ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 15px 0;
    color: rgb(73, 72, 72);
}

.cardProject ul li {
    list-style-position: inside;
    list-style: none;
    display: flex;
    gap: 5px;  
}

#repos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 50px;
}

#repos a{
    text-align: center;
    background: #25b09b;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.7em;
    text-decoration: none;
    color: rgba(73, 72, 72, 0.575);
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    min-height: 50px
}

#repos a:hover{
    background: linear-gradient(gray, #25b09b, gray) ;
}

@media (max-width: 768px){
    .cardProject {
       flex-direction: column; 
       align-items: center;
    }
}