body {
    margin: 0;
    height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(gray, #25b09b);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }

  .card {
    background: rgba(0, 0, 0, 0.414);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    margin: 40px;
    width: 90%;
    /* max-width: 600px; */
    height: auto;
    border-radius: 30px;
    box-shadow: 25px 25px 25px gray;
    
  }
  
  h1 {
    color: grey;
    font-weight: 400;
    font-size: 1.5em;
    text-shadow: 5px 15px 15px rgba(128, 128, 128, 0.705);
  }
  
  h2 {
    color: rgba(255, 255, 255, 0.574);
    font-weight: 400;
    font-size: 1.2em;
  }
  
  p {
    color: rgba(255, 255, 255, 0.574);
  }
  
  img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 5px 15px 15px rgba(128, 128, 128, 0.705);
  }
  
  .icons {
    display: flex;
    padding: 10px;
    gap: 15px;
  }
  
  .icons i {
    font-size: 2.5em;
    color: #25b09b;
  }
  
  @media (max-width: 320px) {
    .card {
      margin: 10px;
      padding: 10px;
    }
  
    img {
      width: 120px; 
    }
  
    h1 {
      font-size: 1.3em;
    }
  
    h2 {
      font-size: 0.8em;
    }
  
    p {
      font-size: 0.7em;
    }
  
    .icons i {
      font-size: 1.5em; 
    }
  }

