html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.active {
    background: rgba(128, 128, 128, 0.329);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(gray, #25b09b, gray);
    font-size: 1em;
    width: 100%; /* Add this line to make the navigation bar full-width */
}

nav .title {
    font-size: 1.5em;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(73, 72, 72);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
}

nav ul.open {
    display: flex;
}

nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: rgb(73, 72, 72);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover{
    background: #25b09b;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background: white;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu{
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.25rem 0.5rem;
    }
}